@import 'fonts';
@import 'colors';

body {
  margin: 0;

  h3 {
    font-family: $title-font;
    font-size: 25px;
    padding: 0;
    text-align: center;
  }

  button {
    font-size: 20px;
    font-family: $title-font;
    padding: 15px 55px;
    background: $light-bg;
    color: #fff;
  }
}

.screen {
  height: 100vh;

  img {
    height: 25px;
    position: absolute;
    right: 0;
    padding: 7vh 10%;
    animation: fadeIn 2s;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	-o-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
    animation: moveUp 1s;

    li {
      padding: 20px;
      font-size: 25px;

      a {
        text-decoration: none;
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @keyframes moveUp {
    from {
      top: 60%;
    }

    to {
      top: 50%;
    }
  }
}

.app {
  .footer {
    height: 100px;
    background: $light-bg;
    color: white;

    h5, a {
      font-family: $text-font;
      font-size: 16px;
    }

    h5, ul {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style-type: none;

      li {
        padding-right: 10px;
        display: inline;

        a {
          color: white;
        }
      }
    }
  }
}

@media (max-width:650px) {
  .app {
    .footer {
      display: block;
      text-align: center;
      padding-top: 30px;

      .divider {
        padding: 10px;
      }
    }
  }
}

@media (min-width:650px) {
  .app {
    .footer {
      align-items: center;
      display: flex;
      padding: 0 10%;

      .divider {
        flex: 1;
      }
    }
  }
}
