.break {
  height: 200px;
  background-image: url('../../img/people_at_the_table.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
