@import "fonts";
@import "colors";

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    text-align: center;
    margin: auto;

    img {
      height: 120px;
    }

    p {
      font-size: $text-font;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 50px;
      width: 60%;
      margin: auto;
    }

    button {
      background: $light-bg;
      padding: 15px 55px;
      color: #fff;
      font-family: $title-font;
      font-size: 20px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    min-width: 40%;
    max-width: 80%;

    h3 {
      font-size: 25px;
      font-family: $title-font;
    }

    input, button {
      border: 1px solid #000;
      margin: 10px;
    }

    input {
      font-size: 18px;
      padding: 10px;
      width: 100%;
    }

    input[type=textarea] {
      min-height: 150px;
    }

    button {
      font-size: 18px;
      color: #000;
      padding: 10px;
      min-width: 30%;
      max-width: 50%;
      text-align: center;
      background: none;

      &:hover {
        border: 1px solid $light-bg;
        background: $light-bg;
        color: #fff;
      }
    }
  }
}

@media (max-width:768px) {
  .contact {
    .container {
      p {
        width: 80%;
      }
    }

    form {
      button {}
    }
  }
}

@media (min-width:769px) {
  .contact {
    form {}
  }
}
