@import "./Index.scss";

.information {
  margin-top: 150px;
  background: $light-bg;

  .child {
    text-align: center;
  }
}

@media (max-width:768px) {
  .information {
    text-align: center;
    padding: 40px 0;

    .child {
      padding: 40px;
    }
  }
}

@media (min-width:768px) {
  .information {
    display: flex;
    justify-content: center;

    .child {
      width: 25%;
      padding: 70px 30px;
    }
  }
}
