@import "colors";
@import "fonts";

.services {
  margin-top: 200px;
  background: $light-bg;
  padding: 70px 0;

  h3 {
    font-family: $title-font;
    font-size: 30px;
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
    color: #fff;
  }

  .content {
    display: grid;
    margin: auto;

    .service {
      border: 1px solid white;
      color: #fff;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      .desc {
        text-align: center;
        padding: 20px;
        height: 245px;

        h4 {
          font-family: $title-font;
          font-size: 25px;
          margin: 0;
          padding-top: 20px;
        }

        p {
          font-family: $text-font;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width:768px) {
  .services {
    .content {
      .service {
        margin: 0 auto 50px;
        max-width: 256px;

        .desc {}
      }
    }
  }
}

@media (min-width:769px) {
  .services {
    .content {
      .service {
        margin: 0 1%;
      }
    }
  }
}
